.main-content {
    background-color: #f4f7fe;
    min-height: 100vh;
    overflow-x: hidden;
}

main {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}