.navbar {
  height: 70px;
}

.avatar-circle {
  width: 35px;
  height: 35px;
  background-color: #6a11cb;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.dropdown-item {
  padding: 10px 20px;
  transition: all 0.2s;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  transform: translateX(5px);
}